.mydiv{
    background-image:url('images/Object.png');
    background-repeat:no-repeat;
    
    padding: 0%;
    border: 0px;
    display: block;
    width: 100%;
}

.navbar {
    justify-content: space-around;
    align-items:stretch;

}


.testimonial{
    background-color: #a61c53;
    padding: 20px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pics{
    display: flex;
    border-radius: 10px;
    color: white;
    width: 50px;
    
    
}
h2{
    font-size: large;
    align-items: center;
}

.faq{
    background-color: white;
}

h3{
    color: black;
}
    
.faq-content{
    color: grey;
}

footer{
    background-color:rgb(3, 3, 48);
}
.footer-links{
    color: white;
}
.bottom{
    
  text-align: center;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;


}
